aiohttp==3.8.5
aiosignal==1.3.1
anthropic==0.3.9
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
distro==1.8.0
exceptiongroup==1.1.3
frozenlist==1.4.0
google-api-core==2.11.1
google-api-python-client==2.96.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.60.0
h11==0.14.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
idna==3.4
multidict==6.0.4
oauthlib==3.2.2
openai==0.27.8
protobuf==4.24.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.12
pyparsing==3.1.1
python-dotenv==1.0.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
tokenizers==0.13.3
tqdm==4.66.1
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3==1.26.16
yarl==1.9.2
